@model Project_Management.Models.Projects.Project
@{
    ViewData["Title"] = "AddProject";
}

<style>
    body {
        background-color: #121423;
    }
    /*body { background-image: url('path/to/your/image.jpg'); /* Replace 'path/to/your/image.jpg' with the actual image file path */ /*background-size: cover;*/ /* Adjust how the background image is displayed */ /* background-repeat: no-repeat;} */
    .rounded-button {
        height: 45px;
        width: 45px;
        border-radius: 50%; /* Set border radius to 50% to create a circular button */
        padding: 10px; /* Add padding for spacing within the circular button */
    }

    .custom-btn {
        background-color: antiquewhite; /* Replace with your desired background color */
        color: black; /* Replace with your desired text color */
        /* Add any other custom styling you need */
    }
</style>
<div class="container">
    <div class="row mt-lg-5">
        <div class="col-4 offset-4 border rounded p-lg-4" style="background-color: #e2642b; margin-top: 50px;">
            <div class="text-center">
                <h1 class="text-dark">Add New Project</h1>
            </div>
            <form method="post" asp-action="AddPorject">
                <div class="form-group">
                    <h6>Project Name</h6>
                    <input type="text" asp-for="Project_name" placeholder="Enter project name" class="form-control" autocomplete="off" />
                </div>
                <div><h5>  </h5></div>
                <div class="form-group">
                    <h6>Description</h6>
                    <input type="text" asp-for="Description" placeholder="Enter description" class="form-control" autocomplete="off" />
                </div>
                <div><h5>  </h5></div>
                <div class="form-group">
                    <h6>Start Date</h6>
                    <input type="date" asp-for="Start_Date" placeholder="Enter start date" class="form-control" autocomplete="off" />
                </div>
                <div><h2>  </h2></div>
                <div class="form-group">
                    <input type="submit" class="btn btn-dark float-lg-end" value="ADD" />
                </div>
            </form>
        </div>
    </div>
</div>