@{
    ViewData["Title"] = "FrontPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/js/particles.js")"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="~/css/FrontPageStyle.css" />
<style>
    #particles-js {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: #121423;
    }


    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .button-container-flex .btn {
        padding: 12px 24px; /* Adjust the padding to increase the button size */
        font-size: 18px; /* Adjust the font size for larger text */
        margin-top: 30px;
    }
    /* Optionally, add some space between the buttons */
    .button-container-flex a {
        margin: 0 5px;
    }

    .text-style {
        font-family: "Algerian"; /* Change to the desired font family */
        font-size: 70px;
        margin-top: 100px;
        color: #e2642b;
        /* Adjust the font size as needed */
        /* You can also apply other text properties such as font-weight, text-transform, etc. */
    }

    .logo {
        width: 200px;
        height: 200px;
    }

    .btn-color {
        background-color:#e2642b;
    }
</style>
<div id="particles-js">
</div>
<h1 class="text-center text-style">WELCOME</h1>
<div class="text-center" style="margin-top:30px;">
    <img src="~/images//istockphoto-1341104538-612x612.jpg" alt="Logo" class="logo-image rounded-circle logo" />
</div>

<div class="button-container-flex text-center">
    <a asp-action="Login" class="btn btn-color">Login</a>
    <a asp-action="SignUp" class="btn btn-color">SignUp</a>
</div>
<script>

    //document.addEventListener("DOMContentLoaded", function () {
        // particlesJS initialization here...
    particlesJS('particles-js', {
        particles: {
            number: {
                value: 80
            },
            color: {
                value: '#ffffff'
            },
            size: {
                value: 3
            }
        },
        interactivity: {
            events: {
                onhover: {
                    enable: true,
                    mode: 'grab'
                }
            }
        }
    });

    //});

</script>