@model Project_Management.Models.ViewModels.SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
}
<script src="@Url.Content("~/js/particles.js")"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    body {
        background-color: #121423;
    }
    .rounded-left-right {
        border-radius: 25px 25px 25px 25px;
    }

    .custom-input {
        height: 35%; /* Adjust the value to increase or decrease the height */
    }

    .custom-btn-width {
        width: 100%; /* Adjust the value to increase or decrease the width */
    }

    #particles-js {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: #121423;
    }


    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
</style>
<link rel="stylesheet" href="~/css/animation.css" />
<div id="particles-js">
</div>
<div class="container">
    <div class="row">
        <div class="col-6 offset-3 border  rounded p-lg-4" style="background-color: #e2642b; margin-top: 80px">
            <div class="text-center">
                <h2 style="color:black;"> Registration </h2>
            </div>
            <h3 class="text-danger text-center">@TempData["errorMessage"]</h3>
            <form method="post" asp-action="SignUp">
                <div class="form-group">
                    <input type="text" asp-for="Username" placeholder="Enter username" class="form-control rounded-left-right custom-input" autocomplete="off" style="margin-top:3%;" />
                     <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div><h5>  </h5></div>
                <div class="form-group">
                    <input type="text" asp-for="Email" placeholder="Enter email" class="form-control rounded-left-right custom-input" autocomplete="off" style="margin-top:3%;" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div><h5>  </h5></div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <input type="password" asp-for="Password" placeholder="Enter password" class="form-control rounded-left-right custom-input" autocomplete="off" style="margin-top:3%;" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <input type="password" asp-for="ConfirmPassword" placeholder="Enter confirm password" class="form-control rounded-left-right custom-input" autocomplete="off" style="margin-top:3%;" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            <div><h5>  </h5></div>
                <div class="form-group text-center custom-btn-width">
                    <input type="submit" class="btn btn-dark rounded-left-right custom-input custom-btn-width" style="margin-top:3%;" value="Sign Up" />
                </div>
            </form>
        </div>
    </div>
</div>
<script>

    //document.addEventListener("DOMContentLoaded", function () {
    // particlesJS initialization here...
    particlesJS('particles-js', {
        particles: {
            number: {
                value: 80
            },
            color: {
                value: '#ffffff'
            },
            size: {
                value: 3
            }
        },
        interactivity: {
            events: {
                onhover: {
                    enable: true,
                    mode: 'grab'
                }
            }
        }
    });

        //});

</script>